
:root {
    --bg-fonce: #454b51;
    --texte-clair: #ccc;
    --bg-clair: #efefef;
    --texte-fonce: #666;
}

/*
Extra small
<576px 	Small
≥576px 	Medium
≥768px 	Large
≥992px 	Extra large
≥1200px
*/

/*****************************************/
/*               all screens             */
/*****************************************/

body {
    background-color: var(--bg-fonce);
    color: var(--texte-clair);
}

/**************** #main, sous la navbar *************/
#main {
    position: relative;
    top: 50px;
    margin-bottom: 1rem;
}

#img_accueil_sm {
    display: block;
}
#img_accueil_md {
    display: none;
}

/*  titre baladeur  */
#gen_title {
    color: #efefef;
    position: relative;
    top: -13rem;
    text-align: center;
    text-shadow: -2px 2px 2px rgba(102, 102, 102, .8);
}

/*************** contenu, sous l'image d'accueil ***************/
#contenu {
    position: relative;
    top: -5rem;
}

article {
    color: var(--texte-clair);
    border-bottom: 1px solid var(--texte-clair);
}
article p {
    text-align: justify;
}

/*************** aside ****************/
#img-aside {
    display: none;
}

/***************** footer ********************/
footer {
    background-color: var(--bg-fonce);
    height: 4rem;
    position: relative;
    top: 10px;
    text-align: center;
}
.social {
    margin: 0 auto;
    display: block;
    width: 80%;
}
footer span {
    margin: 0 1.5rem;
    margin-top: 1rem;
}


/********************************************/
/*               medium screens             */
/********************************************/

@media screen and (min-width: 576px) and (orientation: portrait) {
    
    #fig_accueil {
        border: 1px solid var(--texte-clair);
        background-color: var(--bg-fonce);
    }
    #img_accueil_sm {
        display: none;
    }
    #img_accueil_md {
        display: block;
        margin: 1rem auto;
    }

    /************* titre baladeur ****************/
    #gen_title {
        position: relative;
        top: -13rem;
        text-align: center;
        text-shadow: -2px 2px 2px rgba(102, 102, 102, .8);
    }
    
    /******** #contenu, sous l'image d'accueil *************/
    #contenu {
        position: relative;
        top: -3rem;
    }

    /**************** article *************************/

    article h3 {
        margin: 1rem auto;
    }
    article .chapo {
        font-weight: bold;
        margin-bottom: 1.5rem;
    }
    article .colonnes {
        column-count: 2;
    }

    article p {
        margin-bottom: 1.5rem;
    }

    /************** aside *******************/
    aside h4 {
        margin: 1.5rem auto;
    }

    #img-aside {
        display: none;
    }

    /***************** footer ********************/
    footer {
        background-color: var(--bg-fonce);
        height: 5rem;
        position: relative;
        top: -2rem;
        text-align: center;
    }
    footer span {
        margin: 0 2rem;
        margin-top: 2rem;
    }


}

/*******************************************/
/*               large screens             */
/*******************************************/

@media screen and (min-width: 768px) {
    body {
        background-image: url('./img/abri-st-juvenal-aude.png');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }

    #fig_accueil {
        border: 1px solid var(--texte-clair);
        background-color: var(--bg-fonce);
    }
    #img_accueil_md {
        margin: 1rem auto;
        display: block;
    }
    #img_accueil_sm {
        display: none;
    }

    /********* titre baladeur ***********/
    #gen_title {
        position: relative;
        top: -20rem;
        text-align: left;
        margin-left:11rem;
        text-shadow: -2px 2px 2px rgba(102, 102, 102, .8);
    }

    /************* #contenu, sous l'image d'accueil ***************/
    #contenu {
        position: relative;
        top: -3rem;
    }
    #contenu > div:first-child {
        background-color: var(--bg-fonce);
    }

    /************** article ************/
    article {
        border-bottom: none;
    }
    article h3 {
        margin: 1rem auto 1.5rem 1rem;
    }
    article .chapo {
        font-weight: bold;
        margin-bottom: 1.5rem;
    }
    article p {
        margin-bottom: 1.5rem;
    }
    article .colonnes {
        column-count: 2;
    }

    /***************** aside ********************/
    aside {
        border: 1px solid silver;
        background-color: var(--bg-fonce);
    }
    aside #img-aside {
        display: block;
        border-radius: 3px;
        margin: 1rem auto;
        width: 90%;
    }
    aside > h4 {
        margin: 1rem;
    }
    aside > p {
        margin: 1rem;
        text-align: justify;
    } 

    /******************* footer *******************/
    footer {
        background-color: var(--bg-fonce);
        height: 8rem;
    }
    footer span {
        margin: 3rem;
        margin-top: 1.5rem;
    }
}

